//<Connecting fonts>=================================================================
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
//<Connecting fonts>=================================================================

//<Defoult font>=================================================================
$fontFamily: "Roboto", sans-serif;
//<Defoult font>=================================================================

//<Variables>=================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1316;
$md1: $maxWidthContainer + 10;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//<Variables>=================================================================

//<Connecting reset styles>=================================================================
@import "../scss/_reset-style";
body {
  color: #666b67;
  font-size: 14px;
  overflow: hidden;
  &._lock {
    overflow: hidden;
  }
}
//<Connecting reset styles>=================================================================

//<Wrapper>=================================================================
.wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}
//<Wrapper>=================================================================

//<MAIN GRID>=================================================================
.container {
  max-width: $maxWidthContainer + px;
  padding: 0px 10px;
  margin: 0px auto;
}
//<MAIN GRID>=================================================================

//<CONNECTING FILES STYLES PAGES AND ELEMENTS>=================================================================
@import "../scss/_mixin.scss";
@import "../scss/_ui.scss";
@import "../scss/_variables";
//<CONNECTING FILES STYLES PAGES AND ELEMENTS>=================================================================

//< START COMMON STYLE BLOCKS >=================================================================
.wrapper {
  background: $dark;
}
[class*=" _icon-"] {
  font-size: 30px;
  color: $mouse;
  transition: all 0.3s ease 0s;
  &:hover {
    color: $silver;
  }
}
//< END COMMON STYLE BLOCKS >=================================================================
//< START HEADER >=================================================================

.header {
  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 50px 0px 0px 0px;
  }
  &__body {
    @media (min-width: $md4+px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 725px;
    }
  }

  &__logo {
  }

  &__menu {
  }
}
.menu {
  &__icon {
  }

  &__body {
    @media (max-width: $md4+px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      text-align: center;
      overflow: auto;
      padding: 60px 0px 0px 0px;
      background-color: rgba(57, 62, 58, 0.8);
      transform: translate(0px, -100%);
      transition: all 0.6s ease 0s;
    }
    &.active {
      transform: translate(0px, 0%);
    }
  }

  &__list {
    display: flex;
    li {
      margin: 0px 0px 0px 40px;
    }
    @media (max-width: $md4+px) {
      flex-direction: column;
      li {
        margin: 0px 0px 30px 0px;
      }
    }
  }

  &__link {
    color: $silver;
    font-size: 24px;
    line-height: 28 / 24 * 100%;
    span {
      color: $mouse;
    }
    transition: all 0.3s ease 0s;
    @media (min-width: $md2+px) {
      &:hover {
        color: $mouse;
        line-height: 28 / 24 * 100%;
        span {
          color: $silver;
        }
      }
    }
  }
}
.icon-menu {
  display: none;
  @media (max-width: $md4+px) {
    display: block;
    //position: relative;
    position: absolute;
    top: 9px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      //top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $silver;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          //top: 8px;
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          //bottom: 8px;
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}

//< END HEADER >=================================================================
//< START CONTENT >=================================================================
.page {
  flex: 1 1 auto;
}
//< END  CONTENT >=================================================================
//< START FOOTER >=================================================================
.footer {
  &__body {
    display: flex;
    padding: 65px 81px;
    background-color: $antracit;
    @media (max-width: $md2+px) {
      display: block;
      padding: 65px 81px 18px;
    }
  }

  &__row {
    flex: 0 0 567px;
    display: flex;
    @media (max-width: $md2+px) {
      flex: 0 0 auto;
      justify-content: space-between;
    }
  }

  &__column {
    flex: 0 1 50%;
    @media (max-width: $md2+px) {
      flex: 0 0 auto;
    }
    &_b {
    }
  }
}
.column-footer {
  &__headline {
    font-size: 24px;
    line-height: 28 / 24 * 100%;
    text-transform: uppercase;
    color: $grey;
    margin: 0px 0px 50px 0px;
  }

  &__link {
    display: block;
    margin: 0px 0px 24px 0px;
    font-size: 18px;
    line-height: 21 / 18 * 100%;
    text-transform: capitalize;
    color: $grey;
    &:last-child {
      margin: 0;
    }
  }

  &__brand {
    display: inline-block;
    margin: 0px 0px 17px -65px;
    @media (max-width: $md2+px) {
      justify-content: flex-end;
    }
  }

  &__list {
    @media (max-width: $md2+px) {
      justify-content: flex-end;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;
    @media (max-width: $md2+px) {
      justify-content: center;
      margin: 17px 0px 0px 0px;
    }
  }

  &__icon {
    margin: 184px 0px 0px 44px;
    @media (max-width: $md2+px) {
      margin: 0px 22px;
    }
  }
}

//< END FOOTER >=================================================================

// burger of three spans

/* 
*/
